<nav class="navbar navbar-inverse navbar-fixed-top" role='navigation'>
    <div class='container'>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle='collapse' data-target='.navabar-ex-collapse'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand'>Friends of Mine</a>
        </div>
        <div class='collapse navbar-collapse navabar-ex-collapse'>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click='logout()'>Logout</a></li>
                <li><a href='#/friends'>Show All Friends</a></li>
                <li><a href='http://www.kaleva.fi'>News</a></li>
            </ul>
        </div>
    </div>
</nav>

