
<form>
    <h4>Add new person</h4>
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Name" ng-model="person.name"/>
    </div>
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Address" ng-model="person.address"/>
    </div>
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Age" ng-model="person.age"/>
    </div>
    <input class="btn btn-default" type="button" value="Save" ng-click="person.addPerson()"/>
</form>
<a href="#/friends">Show view 2</a>