<h1>Update Person</h1>
<form>
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Name" ng-model="update.name" ng-value="update.name"/>
    </div>
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Address" ng-model="update.address" ng-value="update.address"/>
    </div>
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Age" ng-model="update.age" ng-value="update.age"/>
    </div>
    <input class="btn btn-default" type="button" value="Update" ng-click="update.updatePerson()"/>
</form>